---
interface Props {
  class?: string
}

const { class: className = '' } = Astro.props
---

<span class={className}>
  <span class="text-[#d9d2ff]">artificery</span><span class="text-slate-500">.</span><span class="text-[#ff6737]">io</span>
</span>
